.page-alunos,
.page-professores,
.tabs-sem-sentido {
  .titulo {
    @include font-size(54px);
    font-weight: 500;
    color: $black-light;
    margin-bottom: 34px;
  }
  .desc {
    color: $black-light;
    line-height: 21px;
    a {
      color: $blue-light;
      text-decoration: dashed;
    }
  }
  .listar-alunos,
  .listar-professores {
    background-color: $concrete;
    color: $gray-concrete;
    padding: 100px 0 70px;
    .input-group {
      margin-bottom: 93px;
      .input-group-prepend {
        .input-group-text {
          color: $green;
          border: 0;
          background-color: white;
        }
      }
      .form-control {
        border: 0;
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(64, 160, 59, 0.25);
        }
      }
    }
    .card {
      text-align: center;
      height: 100%;
      border-radius: 5px;
      border: 0;

      .card-header {
        background: white;
        border-bottom: 0;
        padding: 1.5rem;
        img {
          border-radius: 50%;
        }
      }
      .card-body {
        @include font-size(18px);
        h2 {
          color: $gray-hard;
          @include font-size(24px);
          margin-bottom: 1.5em;
        }
      }
      .card-footer {
        border-top: 0;
        background: white;
        color: $green;
        ul {
          list-style: none;
          padding: 0;
          .fas {
            margin-right: 10px;
          }
          a {
            @include font-size(14px);
            color: $gray-concrete;
            &:hover {
              color: $gray-concrete;
              text-decoration: none;
            }
          }
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
    .btn-cta {
      background: $green;
      color: white;
      border: 1px solid transparent;
      padding: 10px 15px;
      display: inline-block;
      margin: 77px 15px 15px;
      border-radius: 5px;
      &:hover {
        color: $green;
        background-color: transparent;
        border-color: $green;
      }
    }
  }
}
