.apoiadores-body {
  margin-top: 10.5rem;

  .descricao {
    font-style: normal;
    font-weight: normal;
    color: $black-light;
    @extend .text-center;
  }
}
.apoiadores-indicadores {
  background-color: $concrete;

  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: $green;
  }

  hr {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #c4c4c4;
  }

  .indicadores-lista {
    strong {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: $black-light;
    }

    span {
      // display: block;
      font-style: normal;
      font-weight: 300;
      font-size: 60px;
      color: $green;
    }

    small {
      display: block;
      color: $gray-light;
      font-size: 1rem;
    }
  }
}
.projetos-apoiados {
  .title-column {
    strong {
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 56px;
      color: $black-light;
      display: block;
      @extend .mb-5;
    }
    span {
      color: $gray-light;
    }
  }

  a {
    text-decoration: none;

    img {
      border-radius: 5px;
    }

    strong {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: $black-light;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: $gray-light;
    }
  }
}
