.cases {
  #app-cases {
    &.overflow-scroll {
      overflow-x: scroll;
      .item {
        min-width: 290px;
        margin: 0 15px;
      }
      @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
        overflow: hidden;
      }
    }
    .item {
      margin: 0.5rem 0;
      background: #fff;
      width: 100%;

      .img-case {
        height: 250px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }

      .content {
        margin: 1.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        h2 {
          margin: 1rem 0;
        }

        a {
          background: $red;
          padding: 0.5rem 3rem;
          @extend .rounded;
          color: #fff;
        }
      }
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      .item {
        margin: 2rem 0;
        @include make-col(3.8);

        h2 {
          color: $red;
          font-size: 24px;
        }

        .content {
          margin: 1.5rem;
          min-height: 270px;
        }

        &:nth-child(1) {
          @include make-col(12);
          display: flex;
          align-items: center;
          margin: 1rem 0;

          .img-case {
            height: 350px;
          }

          h2 {
            color: #000;
            font-size: 34px;
          }

          .img-case {
            @include make-col(5);
          }
          .content {
            @include make-col(6);
            padding-left: 3rem;

            p {
              margin: 1rem 0 1.7rem;
            }
          }
        }
      }
    }
  }
}
