.contato-body {
  a {
    word-wrap: break-word;
  }
  margin-top: 10.5rem;
  .fundo-contato {
    padding: 115px 0 95px;
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      //linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgb(204, 204, 204) 100%)
      background-image: url(../img/bg-cinza.png);
      // background-color: $concrete;
      background-size: 448px 835px;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
  .descricao {
    font-style: normal;
    font-weight: normal;
    color: $black-light;
    @extend .text-center;
  }

  .enderecos {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: $black-light;

    a {
      color: $black-light;
      text-decoration: none;
    }

    strong {
      font-weight: bold;
      font-size: 19px;
      color: $green;
    }
  }
  .contato-form {
    padding: 40px 35px;
    color: white;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 22px;
    }
    input:not([type="submit"]),
    textarea {
      width: 100%;
      background: transparent;
      border: 1px solid white;
      padding: 16px 24px;
      border-radius: 7px;
    }
    input[type="submit"] {
      @extend .btn-white;
      width: 180px;
      height: 50px;
      border: 0;
      border-radius: 5px;
      margin: 0 auto;
      display: block;
    }
    .ajax-loader {
      display: none;
    }
    ::placeholder {
      color: white;
    }
  }
}
