.page-doutorado {
  .banner-doutorado {
    background: url(../img/banner-diploma.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 25px;
    height: 100%;
    max-height: 668px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      padding: 308px 60px 242px;
    }
  }
  .doutorado {
    .texto {
      @include font-size(17px);
      line-height: 24px;
      padding: 45px 20px 55px;
      p {
        margin-bottom: 21px;
      }
      @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
        padding: 20px 15px 40px;
      }
      @media (min-width: map-get($map: $grid-breakpoints, $key: xl)) {
        padding: 70px 15px 110px;
      }
    }
    .bg-img {
      background: url(https://picsum.photos/489/511) center center no-repeat;
    }
  }
  .banner {
    padding: 117px 0;
    h2 {
      color: $green;
      margin-bottom: 25px;
      @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
        @include font-size(40px);
        margin-bottom: 0;
      }
    }
    ul {
      @include font-size(20px);
      li {
        margin-bottom: 8px;
      }
    }
  }
  .capacitacao {
    padding: 82px 0;
    text-align: center;
    color: $gray-hard;

    h2 {
      @extend h1;
      margin-bottom: 72px;
    }
    h3 {
      @extend h2;
      color: $green;
      margin: 22px 0;
      font-weight: 500;
    }
    p {
      @include font-size(18px);
    }
  }
  .sucesso {
    text-align: left;
    color: white;
    padding: 100px 0 90px;
    .conter-img {
      margin-top: -64px;
      margin-bottom: 49px;
      padding-left: 25px;
      @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
        margin-top: -120px;
        padding-left: 0;
      }
    }
    h2 {
      @include font-size(40px);
    }
    ul {
      @include font-size(24px);
      text-align: left;
      li {
        margin-bottom: 8px;
      }
    }
  }
  .coord {
    padding: 80px 0 100px;
    a {
      color: $blue-light;
      font-weight: bold;
      word-break: break-all;
    }
  }
  .inscreva {
    color: white;
    .bg-green {
      padding: 90px 0 205px;
      @include font-size(26px);
    }
    .bg-black-light {
      margin-top: -124px;
      padding: 59px 0;
      text-align: center;
      p {
        margin-bottom: 40px;
      }
    }
    .btn-cta {
      @include font-size(16px);
      width: 100%;
      height: 100%;
      max-width: 180px;
      max-height: 50px;
      color: white;
      border: 1px solid transparent;
      padding: 10px 20px;
      display: inline-block;
      margin: 0;
      border-radius: 5px;
      text-align: center;
      &.btn-azul {
        background-color: $blue-light;
        &:hover {
          border-color: $blue-light;
          color: $blue-light;
          background-color: white;
        }
      }
      &.btn-white {
        background-color: white;
      }
    }
  }
  .editais {
    padding: 80px 0;
    h2 {
      color: $blue-light;
      font-weight: 500;
    }
    #carousel-editais {
      .item {
        height: 250px;
        .container-editais {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          padding: 20px;
          background-color: $concrete;
          img {
            margin-right: 25px;
          }
          svg {
            margin-right: 15px;
            margin-bottom: 6px;
          }
          a {
            color: $gray-hard;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .coordenacao {
    padding: 78px 0;
    color: white;
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 42px;
      img {
        margin-right: 16px;
      }
    }
    a {
      color: white;
      text-decoration: underline;
    }
    h3 {
      @include font-size(18px);
      margin: 20px 0;
    }
  }
}
