footer{
    background: url("../img/footer-bg.png") right bottom no-repeat ;
    background-size: auto;

    .social{

        a{
            @extend .px-3;
            font-size: 1.5rem;
            color: $green;

            &:hover{
                color: #218838;
            }
        }

    }
}