.avatar-menu {
  height: 40px !important;
  background-size: cover !important;
  width: 40px !important;
  max-width: 40px;
  border-radius: 100%;
  @extend .shadow;
}

header {
  &.color-green{
    background-color: #24B768;
    top:0;
    padding-top: 35px;;
  }
  color: $black-light;
  #google_translate_element{
    position: absolute;
    top:-50px;
    right:13%;
  }
  .items-menu {
    div {
      @extend .col-4;
      padding: 0;
    }
  }

  nav {
    margin: 70px auto 0 auto;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 4px;
    transition: 0.2s ease-out;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
    transform: translateY(-50px) scale(0.5);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 19.2rem;
    height: 315px;
    overflow: auto;
    max-width: 25.5rem;

    transition: 0.2s;
    & a {
      text-decoration: none;
      color: $black-light;
      display: block;
      padding: 15px 15px;
      min-height: 105px;
      max-height: 105px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      line-height: 17px;
      outline: outset;
      text-align: center;

      i {
        color: $green;
        font-size: 2em;
        width: 100%;
        margin-bottom: 10px;
      }

      &:hover {
        background: $green;
        color: #fff;

        i {
          color: #fff;
        }
        transition: 0.2s ease;
      }
    }
  }
  #check {
    display: none;
    &:checked ~ nav {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transform: translateY(0) scale(1);
      transition: 0.2s;
    }
    &:checked ~ label {
      transform: scale(1.1);
    }
  }
  label {
    display: block;
    padding: 10px;

    text-decoration: none;
    font-size: 1.3em;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
  }
}

.logo {
  width: 104px;
}

header.color-gray-light {
  .logo {
    filter: initial;
  }

  .logo-unvs {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
  }

  .nav-link {
    color: $black-light;

    &.btn-white:hover {
      color: white;
    }

    &:hover {
      color: $black-light;
    }
  }
  &.heading-scroll {
    .nav-link {
      color: #fff;

      &:hover {
        color: white;
      }
    }
  }
}

.navbar {
  padding: 2.5rem 1rem;
}

.nav-link {
  color: #fff;
  position: relative;
  z-index: 99;
}

.navbar-white {
  @extend .navbar-light;

  .navbar-nav {
    @extend .navbar-nav;

    .nav-link {
      color: $white;

      &:hover {
        color: $gray-light;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .navbar-expand-md {
    .navbar-nav {
      .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
    }
  }

  .logo {
    width: initial;
  }
}

$black: #343838;
$blue: #00dffc;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);

.tp-bullets {
  display: none !important;
}

.heading {
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;

  .border-top-r {
    border-top: $red 2px solid;
    display: inline-block;

    .send {
      border: none;
      color: #fff;
      margin-top: 0;
      padding-left: 0;
      padding-top: 0;
      cursor: pointer;
      font-weight: bold;
    }
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
}

.fa-whatsapp {
  color: #7ad06d !important;
}

.fa-phone {
  color: $red !important;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: $dullWhite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#btn {
  float: right;
  z-index: 5;
  width: 30px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: left 500ms $easing;
  cursor: pointer;
  margin-top: 9px;
  background: #fff;

  div {
    width: 30px;
    height: 4px;
    margin-bottom: 7px;
    background-color: $green;
    transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
  }

  #bottom {
    margin-bottom: 0 !important;
  }
}

#btn.active {
  div {
    background-color: #fff;
    width: 25px;
  }

  #top {
    transform: translateY(11.5px) rotate(-135deg);
  }

  #middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  #bottom {
    transform: translateY(-10px) rotate(-45deg);
  }
}

#box {
  position: fixed;
  z-index: 100;
  overflow: auto;
  top: 0px;
  right: -700px;
  width: 100%;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: #fff;
  color: $black;
  transition: all 350ms $easing;
}

#box.active {
  right: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 33.5rem;
  transform: translateY(-100%);

  .item-ex {
    &:hover {
      color: #fff !important;
    }
  }

  ul {
    list-style: none;

    li {
      text-indent: -0.7em;
      margin: 2rem 0;

      a {
        color: $black-light;
      }

      &:before {
        content: "•";
        color: $green;
        /* or whatever color you prefer */
        padding-right: 0.5rem;
      }
    }
  }

  .item {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    padding: 8px 30px;
    transition: all 250ms;
    color: #fff;

    &:hover {
      color: $red;
    }

    a {
      margin: 0.5rem 1rem;
      color: #fff;

      i {
        font-size: 1em;
      }

      &:hover {
        color: $red;
      }
    }

    &:nth-child(10) {
      a {
        font-family: "nexa-regular";
        color: $black !important;
        padding: 0.5rem 1.4rem;
      }
    }

    &:nth-child(11) {
      a {
        font-family: "nexa-regular";
        color: $black !important;
        padding: 0.5rem 1rem;
      }
    }
  }

  ul a li {
    color: #fff;

    &:hover {
      color: $red;
    }
  }
}

.widget-blue {
  z-index: 20;
  top: 5rem !important;
  right: 0 !important;
  position: relative;

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;

    i {
      color: #fff !important;
    }
  }

  .contacts {
    span {
      font-size: 25px;
    }

    i {
      color: #fff !important;
      font-size: 20px;
    }
  }

  .border-top-r {
    height: 40px;
  }

  .icon-red {
    height: 53px;
    width: 53px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    i {
      color: #fff !important;
    }
  }

  input {
    @extend .col-12;
    border: 2px solid $gray-light;
    padding: 0.6rem 1rem;
  }

  textarea {
    @extend .col-12;
    border: 2px solid $gray-light;
    padding: 0.6rem 1rem;
  }

  button {
    border: none;
    background: transparent;
  }

  .mapa iframe {
    height: 362px;
  }

  .wpcf7-response-output {
    margin-top: 0px;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .wpcf7-response-output {
      margin: 7em 0.5em 1em;
    }
  }

  right: 2rem;
}

#heading-s {
  &.active {
    .nav-link {
      color: $black;
    }

    .logo {
      filter: initial;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .heading {
    top: 2rem;
  }

  #heading-s {
    z-index: 1000;

    &.active {
      .nav-link {
        color: $black;
      }

      .logo {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .widget-blue {
    width: 371px !important;
  }

  .tp-bullets {
    display: block !important;
  }

  #items {
    top: 33.2rem;

    .item {
      font-size: 1.5em;

      &:nth-child(12) {
        a {
          font-size: 1em;
        }
      }
    }

    ul li {
      font-size: 1.5em;
      color: #fff;
    }
  }

  #box {
    width: 50%;
  }
}

#btn,
#btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}

.widget-consultor {
  z-index: 11;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  transition: 0.3s;

  &:hover {
    background: $blue-light;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    width: 154px;
    height: 62px;
    right: 2rem;
    bottom: 4rem;

    i {
      font-size: 17px;
    }

    .text-widget {
      font-size: 18px;
      width: 100px;
      line-height: 1.3rem;
    }

    .text-21 {
      font-size: 21px;
    }
  }
}

header{
  &.heading-scroll {
    background: #fff;
    @extend .shadow;
    top: 0;
    padding: 0.5rem 0;
    -webkit-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);
    #google_translate_element{
      position:initial;
    }
    .logo {
      filter: initial;
    }
  
    .logo-unvs {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  
    .nav-link {
      color: $black-light !important;
    }
  
    .btn {
      color: $green !important;
    }
  
    img {
      filter: brightness(0) invert(1);
      width: 100px;
    }
  
    #btn {
      float: right;
      z-index: 5;
      width: 30px;
  
      transition: left 500ms $easing;
    }
  }
}

.goog-logo-link img {
  width: initial !important;
  filter: initial !important;
}
