.banner-home{
  height:500px;
  background: url(../img/banner-home-mobile.jpg) center center no-repeat;
  background-size:cover;

  @media(min-width: map-get($grid-breakpoints,md)){
    margin-top: 156px;
    background-image: url(../img/banner-home-desktop.jpg);
  }
}
.tabs-sem-sentido,
.projetos-body {
  padding: 96px 0 0;
  .listar-alunos,
  .listar-professores {
    padding: 0 15px !important;
    background-color: white !important;
    color: $gray-concrete !important;
    .card {
      background-color: $concrete;
      .card-header,
      .card-footer {
        background-color: $concrete !important;
      }
    }
  }
  .nav-item {
    padding: 0 15px;
    .nav-link {
      border: 0;
      color: $gray-light;
      text-transform: capitalize;
      &.active,
      &:hover {
        color: $gray-hard;
        border-bottom: 4px solid $green;
      }
    }
  }
  #app-projetos,
  #app-any,
  #app-artigos {
    padding-top: 35px;
    .bordado {
      @include make-col(6);
      padding: 25px 15px;
      border-right: 1px solid $gray-light;
      .img-projeto {
        height: 350px;
      }
      &:not(:nth-child(3n + 1)) {
        @include make-col(3);
        h2 {
          @extend h3;
        }
        .img-projeto {
          height: 250px;
        }
      }

      &:hover {
        text-decoration: none;
      }
      &:nth-child(3n) {
        border-right: 0;
      }
    }
  }
  @media (max-width: map-get($map: $grid-breakpoints, $key: md)) {
    .nav {
      flex-wrap: nowrap;
      overflow-x: scroll;
      .nav-item {
        padding: 0 7px;
        .nav-link {
          padding: 0;
        }
      }
    }
    .row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      .bordado {
        min-width: 290px;
      }
    }
  }
}
.artigo {
  color: $gray-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  h2 {
    color: $gray-hard;
    margin-bottom: 16px;
  }
  span {
    color: $blue-light;
    display: block;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .resumo {
    margin-bottom: 16px;
  }
  img {
    border-radius: 5px;
    margin-bottom: 24px;
  }
  .autor {
    display: flex;
    .img-autor {
      margin-right: 15px;
      background-size: cover !important;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  .fas {
    color: $green;
  }
}
.seja-aluno {
  padding: 100px 0;
  .img-seja-aluno {
    background: url(../img/seja-aluno.png) center center no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .bg-concrete {
    padding: 74px 15px;
    h2 {
      @extend h1;
      color: $gray-hard;
      margin-bottom: 30px;
    }
    p {
      color: $gray-light;
      margin-bottom: 46px;
    }
    .btn-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid black;
      color: $gray-hard;
    }
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      padding-left: 57px;
    }
  }
}
.projetos-home {
  hr {
    margin: 26px auto 60px;
  }

  .listar-projetos {
    .projeto {
      margin: 52px 0;
      h3 {
        margin-bottom: 15px;
      }
      img {
        border-radius: 5px;
      }
      .cabecalho {
        margin-bottom: 35px;
      }
      .rodape {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .btn-cta {
          display: flex;
          justify-content: center;
          height: 50px;
          align-items: center;
          width: 106px;
          background-color: $green;
          color: white;
          border-radius: 5px;
          margin-top: 15px;
          @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
            margin-top: 0;
          }
        }
      }
    }
    @media (max-width: map-get($map: $grid-breakpoints, $key: md)) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding: 0;
      .projeto {
        margin: 0 0 25px;
        min-width: 245px;
      }
    }
  }
  .listar-popular {
    .popular {
      .numero {
        @include font-size(36px);
        color: $blue-light;
        font-weight: 500;
      }
    }
    @media (max-width: map-get($map: $grid-breakpoints, $key: md)) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding: 0;
      .popular {
        margin: 0 0 25px;
        min-width: 245px;
      }
    }
  }
  .listar-projetos,
  .listar-popular {
    color: $gray-light;

    h3 {
      a {
        color: $gray-hard;
      }
    }
    .autor {
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 15px;
        border-radius: 50%;
      }
    }
  }
}
.contato-home {
  .img-contato {
    background: url(../img/img-contato.png) center center no-repeat;
    background-size: cover;
  }
  .bg-concrete {
    padding: 120px 15px 104px;
    h2 {
      @extend h1;
      color: $gray-hard;
      margin-bottom: 37px;
    }
    p {
      margin-bottom: 50px;
    }
    .btn-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 50px;
      border-radius: 5px;
      background-color: $green;
      color: white;
    }
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      padding-left: 165px;
      padding-right: 65px;
    }
  }
}
.parceiros-home {
  padding: 97px 0;
  text-align: center;
  h2 {
    @extend h1;
    color: $green;
  }
  #carousel-parceiros {
    margin: 90px 0;
  }
}
.indicadores-home {
  padding: 95px 0 100px;
  h2,
  h3 {
    color: $green;
  }
  h2 {
    @extend h1;
    margin-bottom: 40px;
  }
  .legenda {
    color: $gray-light;
  }
  span {
    @include font-size(80px);
    font-weight: 100;
  }
  hr {
    margin: 30px 0;
  }
  .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: $green;
    color: white;
    margin: 88px auto 0;
  }
}
.banner-contato {
  padding: 150px 0;
  background: url(../img/banner-contato.png) center center no-repeat;
  background-size: cover;
  color: white;
  h2 {
    font-weight: bold;
  }
  p {
    @include font-size(30px);
  }
  .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: $green;
    margin: 0 auto 0;
  }
}
