#wpuf-login-form{
  text-align: center;
  width: 100%;

  #wp-submit{
    background: $green;
    color: #fff;
    @extend .rounded;
    padding: .5rem 2rem;
  }
}

.wpuf-label nbsp{
  display: none;
}

#wpuf-avatar-11-pickfiles{
  box-shadow: $green !important;
}

.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit]{
    background: $green !important;
    color: #fff;
  border: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  }

