.page-indicadores {
  .banner-indicadores {
    background: url(../img/banner-indicadores.jpg) center center no-repeat;
    background-size: cover;
    min-height: 820px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .conteudo {
    width: 100%;
    color: white;
    text-align: center;
    h1 {
      font-weight: 500;
      max-width: 380px;
      text-transform: capitalize;
      margin: 0 auto 57px;
    }
    .subtitle {
      margin-bottom: 95px;
      font-weight: 400;
    }
    .numbers {
      text-align: left;
      .number {
        .titulo {
          @include font-size(22px);
          font-weight: 500;
          @media (min-width: map-get($grid-breakpoints, lg)) {
            @include font-size(24px);
          }
        }
        .desc {
          @include font-size(18px);
          font-weight: 400;
        }
        span {
          @include font-size(69px);
          color: $green;
          font-weight: 100;
          @media (min-width: map-get($grid-breakpoints, lg)) {
            @include font-size(80px);
          }
        }
      }
    }
  }
  .infos {
    .charts {
      padding: 100px 0 164px;
      p {
        margin-bottom: 50px;
      }
    }
  }
  .banner-black {
    background: $gray-hard;
    color: white;
    padding: 90px 0;
    h2 {
      font-weight: 500;
    }
    span {
      display: inline-block;
      color: $green;
      @include font-size(47px);
      font-weight: 400;
      @media (min-width: map-get($grid-breakpoints,xl)) {
        @include font-size(54px);
      }
    }
    small {
      display: inline-block;
      @include font-size(18px);
      margin-left: 15px;
    }
  }
  .indice {
    padding: 110px 0 120px;
    h2 {
      color: $green;
      margin-bottom: 40px;
    }
    .btn-cta {
      margin-left: 0;
    }
  }
  .banner {
    color: white;
    padding: 120px 0;
    @include font-size(30px);
    b {
      @include font-size(32px);
    }
  }
  .btn-cta {
    background: $green;
    color: white;
    border: 1px solid transparent;
    padding: 10px 15px;
    display: inline-block;
    margin: 77px 15px 15px;
    border-radius: 5px;
    &:hover {
      color: $green;
      background-color: transparent;
      border-color: $green;
    }
    &.btn-white {
      margin: 0;
      background-color: white;
    }
  }
}
