.parceiros-body{

    margin-top: 10.5rem;

    .item{

        background-color: #F2F2F2;
        border-radius: 5px;
        min-height: 328px;
        color: #5C5C5C;

        img{
            @extend .rounded-circle;
            width: 120px;
            position: absolute;
            margin: 0 auto;
            right: 0;
            left: 0;
            top: -60px;
            border: 5px solid #E5E5E5;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {

            .valor{
                line-height: 140.62% !important;
            }            

        }

        .valor{

            line-height: unset;

            span{
                @extend .d-block;
                font-size: 55.2621px;                
                color: $green;
            }

            small{
                @extend .d-block;
                @extend .mt-3;
                font-size: 17.1255px;
                color: #C4C4C4;
            }
            
        }
    }

}