.commentlist {
  list-style: none;

  img {
    border-radius: 50%;
    margin-right: 15px;
  }

  .comment-body {
    display: flex;
    flex-direction: column;
  }

  .comment-meta {
    order: 1;
  }

  .reply {
    order: 2;
  }

  .comment-author {
    @extend .color-black-light;
    @include font-size(24px);
    margin-bottom: 15px;
  }

  a {
    @extend .color-green;
  }

  p {
    @include font-size(20px);
  }
}

#respond {
  a {
    @extend .color-green;
  }
}

#comment {
  width: 100%;
  height: 115px;
  position: relative;
  background: $concrete;
  padding: 10px 15px;
  border-radius: 5px;
  color: $black-light;
  margin-right: 15px;
}

.form-submit .submit {
  border-radius: 5px;
  padding: 10px 15px;
  background: $green;
  outline: 0;
  border: 0;
  color: white;
}

.single-artigos {

  .sidebar {
    h3 {
      text-transform: uppercase;
      color: $green;
      margin-bottom: 1.5rem;
    }

    padding: 1.5rem 15px;

    hr {
      margin: 30px auto;
    }

    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      padding: 1.5rem 40px;
    }
  }

  .download {
    display: flex;
    align-items: center;
    padding: 24px 0;

    hr {
      border-top: 0;
      width: 0;
      border-left: 1px solid $black-light;
      height: 36px;
      margin: 0 45px 0;
    }

    .fas {
      margin-right: 16px;
    }

    a,
    span {
      color: $black-light;
    }
  }

  .tag {
    background: $concrete;
    padding: 10px 15px;
    border-radius: 5px;
    color: $black-light;
    margin-right: 15px;
  }
}