.projetos-body {
  margin-top: 10.5rem;

  .descricao {
    font-style: normal;
    font-weight: normal;
    color: $black-light;
    @extend .text-center;
  }

  .projetos {
    font-style: normal;
    font-weight: normal;
    color: $gray-light;
    line-height: 140.62%;

    .item {
      @extend .col-md-4;
      @extend .pt-4;

      &:nth-child(1) {
        @extend .col-md-6;
      }

      &:nth-child(2) {
        @extend .col-md-3;

        .featured-image {
          width: 307px;
          height: 307px;
          overflow: hidden;

          img {
            width: auto;
            height: 307px;
            position: absolute;
            max-width: fit-content;
          }
        }
      }

      &:nth-child(3) {
        @extend .col-md-3;

        .featured-image {
          width: 307px;
          height: 307px;
          overflow: hidden;

          img {
            width: auto;
            height: 307px;
            position: absolute;
            max-width: fit-content;
          }
        }
      }
    }

    img {
      @extend .py-2;
    }

    .title {
      font-size: 24px;
      font-weight: 500;
      color: $black-light;
      @extend .col-12;
      @extend .py-2;
    }

    .category {
      font-size: 16px;
      text-transform: uppercase;
      color: $blue-light;
      @extend .col-12;
      @extend .py-2;
    }

    .description {
      font-size: 16px;
      @extend .col-12;
      @extend .py-2;
    }

    .social {
      @extend .col-12;
      @extend .d-flex;

      a {
        color: $gray-light;
        text-decoration: none;
        white-space: nowrap;
        @extend .pr-3;
      }

      .likes {
        &:hover {
          i {
            color: #40a03b;
          }
        }
      }

      .comments {
        &:hover {
          i {
            color: $green;
          }
        }
      }
    }
  }

  .enderecos {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: $black-light;

    a {
      color: $black-light;
      text-decoration: none;
    }

    strong {
      font-weight: bold;
      font-size: 19px;
      color: $green;
    }
  }
}

.author {
  font-size: 14px;
  text-decoration: none;
  color: $gray-light;
  -webkit-transition: color 1s;
  transition: color 1s;

  @extend .d-flex;
  @extend .col-12;
  @extend .py-2;
  @extend .align-items-center;

  img {
    max-width: 50px;
    border-radius: 50%;
  }

  &:hover {
    color: $green;
  }
}

.single-projetos {


  .sidebar {
    h3 {
      text-transform: uppercase;
      color: $green;
      margin-bottom: 1.5rem;
    }

    padding: 1.5rem 15px;

    hr {
      margin: 30px auto;
    }

    .btn-cta {
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      width: 106px;
      background-color: $green;
      color: white;
      border-radius: 5px;
      margin-top: 15px;

      @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
        margin-top: 0;
      }
    }

    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      padding: 1.5rem 40px;
    }
  }

  .separador {
    margin-top: -243px;
    height: 243px;

    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      height: 350px;
    }
  }

  .indicadores-single-projeto {
    @include font-size(24px);

    h2 {
      @extend h1;
    }

    .titulo {
      font-weight: 500;
    }

    span {
      @include font-size(70px);
    }
  }
}