.profile-header {
  margin-top: 8rem;
  background-color: $white;

  .page-menu {
    .nav {
      .nav-item {
        @extend .col-sm;

        .nav-link {
          color: $gray-light;
          font-style: normal;
          line-height: 21px;

          &.active {
            color: #5c5c5c;
            font-weight: 500;
            background-color: transparent;
            border-bottom: 4px solid $green !important;
          }

          &:hover {
            color: $green;
            font-weight: 500;
            background-color: transparent;
            border-bottom: 4px solid $gray-light !important;
          }
        }
      }
    }
  }
}

.profile-body {
  background-color: #f2f2f2;

  .box-avatar {
    background-repeat: no-repeat !important;
    height: 169px;
    width: 169px;
    background-size: cover !important;
    margin: 0 auto;
    @extend .shadow;
    @extend .rounded-circle;
  }

  .social {
    a {
      @extend .px-3;
      font-size: 1rem;
      color: $gray-light;

      &:hover {
        color: #218838;
      }
    }
  }

  .mailto {
    color: $gray-light;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }

  #form-search {

    button,
    input {
      background: #fff;
      border: 0;
      height: 50px;
    }

    button {
      width: 13%;
      text-align: center;
    }

    input {
      width: 87%;
    }
  }

  .indicadores {
    .item {
      line-height: 3.5rem;
      margin-bottom: 2rem;

      div {
        font-size: 24px;
        color: $gray-light;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          line-height: 29px;
          padding-bottom: 1rem;
        }

        &:nth-child(2) {
          font-size: 80px;
          font-weight: 100;
          color: #000;
        }
      }
    }
  }

  .item {
    .img-case {
      height: 250px;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }

  .tab-pane {
    .load-more {
      padding: 0.5rem 2rem;
      background: $green;
      color: #fff;
      text-align: center;
      border: 0;
      @extend .rounded;

      bottom: -3rem;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .item {
      .img-case {
        height: 350px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }
    }

    .indicadores {
      .item span {
        justify-content: flex-start;
      }
    }

    .perfil {
      p {
        font-size: 18px;
      }

      .socials {
        font-size: 20px;
      }
    }
  }
}