.video-single {
  iframe {
    width: 100%;
    height: 300px;
  }
}

.img-post {
  height: 300px;
  background-size: cover;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .video-single iframe {
    height: 400px;
  }

  .img-post {
    height: 450px;
  }
}
