@import "../../source/components/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

.bg-bright {
  background: #f2f2f2;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.comment-form-url {
  display: none;
}

#basic-addon1 {
  cursor: pointer;
}

$blue-light: #0db1d6;

$gray-light: #aeaeae;

$concrete: #f2f2f2;

$gray-hard: #232223;

$gray-concrete: #c4c4c4;

$green: #40a03b;

$red: #eb5757;

$black-light: #5c5c5c;

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: $black-light;
}

.btn {
  &:hover {
    opacity: 0.9;
    background: #fff !important;
  }
}

img {
  @extend .img-fluid;
}

#comments {
  display: none;
}

.color-gray-light {
  top: 0.5 !important;
  padding-top: 0rem;

  .logo {
    filter: initial;
  }
}

.foto-autor {
  max-width: 50px;
  max-height: 50px;
}

a {
  text-decoration: none !important;
  outline: none !important;
  animation: 1s;

  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.logo {
  filter: brightness(0) invert(1);
}

.color-blue-light {
  color: $blue-light;
}

.color-gray-light {
  color: $gray-light;
}

.color-green {
  color: $green;
}

.color-black-light {
  color: $black-light;
}

.color-red {
  color: $red;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-blue-light {
  background-color: $blue-light;
}

.bg-concrete {
  background-color: $concrete;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-black-light {
  background-color: $black-light;
}

.bg-black {
  background-color: black;
}

.btn-white {
  @extend .btn-success;
  background-color: $white;
  color: $green !important;
}

.btn-transparent {
  @extend .btn-success;
  border: 2px solid #aeaeae;
  background-color: transparent;
  color: $black-light;
}

.header-mask {
  height: calc(86px + 1rem);
  padding-top: 3rem;
}

.spin {
  animation: spin 2s linear infinite;
}

.erro {
  @include font-size(34px);
  color: red;
  text-align: center;
}

.tns-nav {
  margin-top: 41px;
  display: flex;
  justify-content: center;

  button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    border: 0;
    background: $gray-concrete;
    padding: 0;
    outline: 0;
  }
}

.img-projeto {
  background: center center no-repeat;
  background-size: cover;
  border-radius: 5px;
}

@media (min-width: map-get($grid-breakpoints, xs)) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
  }

  .mt-n12 {
    margin-top: -12rem !important;
  }
}

.font-h1 {
  @extend h1;
}

.box-avatar {
  background-repeat: no-repeat !important;
  height: 169px;
  width: 169px;
  background-size: cover !important;
  margin: 0 auto;
  @extend .shadow;
  @extend .rounded-circle;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Ajuste tela Login, Cadastro */
.ajuste {
  padding-top: 150px;
}

@import "header";

@import "footer";

@import "home";

@import "profile";

@import "parceiros";

@import "cta-apoie-projeto";

@import "apoiadores";

@import "projetos";

@import "contato";

@import "single-projetos";

@import "alunos";

@import "posts";

@import "nossos-indicadores";

@import "casos-de-sucesso";

@import "doutorado";

@import "login";
